# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

/project/scripts/backup_db.sh

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
# WordPress core
/wp/wp-admin/
/wp/wp-includes/
/wp/index.php
/wp/license.txt
/wp/readme.html
/wp/wp-*.php
/wp/xmlrpc.php

# Contenu utilisateur
!/wp/wp-content/
/wp/wp-content/plugins/*
!/wp/wp-content/plugins/.gitkeep
/wp/wp-content/themes/*
!/wp/wp-content/themes/generatepress-child

# Uploads
/wp/wp-content/uploads/*
!/wp/wp-content/uploads/custom/

# OS/IDE
.DS_Store
node_modules
.env
wp/wp-config.php
/project/wp/
project/wp/
backup/
.idea/
